<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.6.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net452" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net452" />
</packages>